<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <marketplace>
            <general>
                <enable/>
                <admin_email/>
                <global_commission_rate>20</global_commission_rate>
                <allow_manage_order/>
                <move_product_tax_to_seller/>
                <seller_approval_required/>
                <captcha_enabled/>
            </general>
            <seller_dashboard>
                <allow_separate_dashboard/>
                <seller_dashboard_logo/>
            </seller_dashboard>
            <seller_product>
                <attribute_set/>
                <product_approval_require/>
                <product_update_approval_require/>
                <allow_category_tree/>
                <allowed_category_for_seller/>
                <product_type_for_seller/>
                <allow_product_sku_type/>
                <allow_related_product/>
                <allow_upsell_product/>
                <allow_crosssell_product/>
                <allow_limit_purchase/>
                <allow_purchase_qty/>
            </seller_product>
            <seller_order>
                <order_approval_requre/>
            </seller_order>
        </marketplace>
    </default>
</config>
