<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MGS::top_level" title="MGS Marketplace" module="MGS_Marketplace" sortOrder="10" resource="Magento_Backend::content" />
        <add action="mgs_marketplace/seller/index" id="MGS_Marketplace::mgs_marketplace_seller" module="MGS_Marketplace" parent="MGS::top_level" resource="Magento_Backend::content" sortOrder="10" title="Sellers"/>
        <add action="mgs_marketplace/commission/index" id="MGS_Marketplace::mgs_marketplace_commission" module="MGS_Marketplace" parent="MGS::top_level" resource="Magento_Backend::content" sortOrder="20" title="Commissions"/>
        <add action="mgs_marketplace/transaction/index" id="MGS_Marketplace::mgs_marketplace_transaction" module="MGS_Marketplace" parent="MGS::top_level" resource="Magento_Backend::content" sortOrder="30" title="Transactions"/>
        <add action="mgs_marketplace/review/index" id="MGS_Marketplace::mgs_marketplace_review" module="MGS_Marketplace" parent="MGS::top_level" resource="Magento_Backend::content" sortOrder="40" title="Reviews"/>
    </menu>
</config>
